@use "global" as *;

.footer {
  padding-block: rem(48) rem(56);
  background-color: $accent;
  @include mq('md') {
    padding-block: rem(80);
  }
}

.footer__inner {
  margin-inline: auto;
  width: 100%;
  max-width: rem(450);
  @include mq('md') {
    margin-inline: 0;
    width: auto;
    max-width: initial;
  }
}

.footer__top {
  @include mq('md') {
    display: flex;
  }
}

.footer__logo {
  width: rem(120);
  @include mq('md') {
    width: rem(200);
  }
}

.footer__logo-link {
  display: inline-block;
}

.footer__logo-link img {
  aspect-ratio: 120 / 45;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq('md') {
    aspect-ratio: 200 / 75;
  }
}

.footer__sns {
  margin-top: rem(11);
  display: flex;
  align-items: center;
  gap: rem(16);
  @include mq('md') {
    margin-top: rem(28);
    margin-left: rem(40);
  }
}

.footer__sns-icon {
  width: rem(24);
  @include mq('md') {
    width: rem(32);
  }
}

.footer__sns-icon img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__wrapper {
  margin-top: rem(40);
  display: flex;
  gap: rem(18);
  @include mq('md') {
    margin-top: rem(19);
    gap: rem(120);
  }
}

.footer__container {
  display: grid;
  grid-auto-rows: max-content;
  gap: rem(40);
  @include mq('md') {
    grid-template-columns: repeat(2, auto);
    gap: rem(120);
  }
}

.footer__content {
  display: grid;
  gap: rem(40);
  @include mq('md') {
    grid-auto-rows: max-content;
  }
}

.footer__links {
  padding-left: rem(22);
  display: grid;
  gap: rem(24);
  position: relative;
}

.footer__links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../../assets/images/common/icon-starfish.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer__link {
  color: $white;
  line-height: calc(18 / 16);
}

.footer__link.footer__link--top {
  font-weight: $bold;
  position: relative;
}

.footer__copyright {
  margin-top: rem(33);
  padding-inline: rem(14);
  text-align: center;
  @include mq('md') {
    margin-top: rem(74);
  }
}

.footer__copyright small {
  font-size: rem(12);
  font-family: $second-font-family;
  color: $white;
  line-height: calc(18 / 12);
  @include mq('md') {
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}