@use "global" as *;

.fv {
  min-height: rem(667);
  height: 100vh;
  position: relative;
  @include mq('md') {
    min-height: rem(768);
  }
}

.fv__img {
  height: inherit;
}

.fv__img img {
  aspect-ratio: 375 / 667;
  width: 100%;
  min-height: rem(667);
  height: 100vh;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 1440 / 768;
    min-height: rem(768);
  }
}


.fv__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.fv__title {
  font-size: rem(40);
  font-family: $lato-font-family;
  font-weight: $normal;
  color: $white;
  letter-spacing: 0.54em;
  line-height: calc(48 / 40);
  text-indent: 0.55em;
  text-align: center;
  text-transform: uppercase;
  @include mq('md') {
    font-size: rem(80);
    letter-spacing: 0.53em;
    line-height: calc(100 / 80);
    text-indent: 0.5em;
  }
}

.fv__text-box {
  margin-left: rem(-3);
}

.fv__text {
  font-size: rem(20);
  font-family: $second-font-family;
  color: $white;
  line-height: calc(33 / 20);
  text-align: center;
}

.fv__swiper-container,
.fv__swiper,
.fv__swiper-wrapper,
.fv__swiper-slide {
  min-height: rem(667);
  height: inherit;
  position: relative;
  @include mq('md') {
    min-height: rem(768);
  }
}