@use "global" as *;

.header-nav__items {
  @include mq('md') {
    display: flex;
    gap: rem(40);
  }
}

.header-nav__link {
  @include mq('md') {
    padding-block: rem(25) rem(22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(4);
    position: relative;
  }
}

.header-nav__link::after {
  @include mq('md') {
    content: "";
    top: 100%;
    left: 0;
    transform: scale(0, 1);
    transform-origin: center top;
    width: 100%;
    height: 1px;
    background-color: $white;
    border-radius: 50%;
    transition: transform .3s;
  }
}

.header-nav__link:hover::after {
  @include mq('md') {
    transform: scale(1, 1);
  }
}

.header-nav__en,
.header-nav__ja {
  @include mq('md') {
    display: inline-block;
    color: $white;
    text-align: center;
  }
}

.header-nav__en {
  @include mq('md') {
    font-size: rem(18);
    font-family: $second-font-family;
    line-height: 1;
  }
}

.header-nav__en::first-letter {
  @include mq('md') {
    text-transform: capitalize;
  }
}

.header-nav__en.header-nav__en--faq {
  @include mq('md') {
    text-transform: uppercase;
  }
}

.header-nav__ja {
  @include mq('md') {
    font-size: rem(10);
    line-height: calc(15 / 10);
  }
}