@use "global" as *;

.voice__items {
  margin-top: rem(44);
  display: grid;
  gap: rem(40);
  @include mq('md') {
    margin-top: rem(30);
    grid-template-columns: repeat(2, 1fr);
  }
}

.voice__button {
  margin-top: rem(40);
  margin-left: rem(-3);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}