@use "global" as *;

////////////////////
// 初期設定
////////////////////

// スムーススクロール設定
html {
  scroll-behavior: smooth;
}

// 横スクロール制御
html, body {
  overflow-x: clip;
}

// フォントウェイト、カラー設定
body {
  font-weight: $normal;
  color: $black;
}

// ハンバーガーメニュー開閉時のスクロール設定
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

// ホバー
a:hover,
button:hover {
  @include mq('md') {
    cursor: pointer;
  }
}

// 電話番号リンクのスマホのみ有効化
a[href*="tel:"] {
  text-decoration: none;
  @include mq('md') {
    pointer-events: none;
    cursor: default;
  }
}

picture {
  display: block;
}

img {
  height: auto;
}

button {
  border: none;
  padding: 0;
  background-color: initial;
}

address {
  font-style: normal;
}