@use "global" as *;

.totop {
  position: fixed;
  bottom: rem(16);
  right: rem(15);
  display: none;
  z-index: 5;
  @include mq('md') {
    bottom: rem(20);
    right: rem(20);
  }
}

.totop__link {
  width: rem(48);
  height: rem(48);
  background-color: $white;
  border: 1px solid $accent;
  border-radius: 50%;
  display: block;
  position: relative;
  @include mq('md') {
    width: rem(80);
    height: rem(80);
    box-shadow: 0 rem(4) rem(4) 0 rgba(0, 0, 0, .25);
    transition: background-color .3s;
  }
}

.totop__link:hover {
  @include mq('md') {
    background-color: $accent;
  }
}

.totop__link::before {
  content: "";
  position: absolute;
  top: calc(50% + #{rem(1)});
  left: calc(50% - #{rem(3)});
  transform: translate(-50%, -50%);
  width: rem(8);
  height: rem(30);
  background-image: url(../../assets/images/common/icon-totopSp.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include mq('md') {
    left: calc(50% - #{rem(1)});
    width: rem(8);
    height: rem(42);
    background-image: url(../../assets/images/common/icon-totopPc.svg);
    transition: background-image .3s;
  }
}

.totop__link:hover::before {
  @include mq('md') {
    background-image: url(../../assets/images/common/icon-totopWhite.svg);
  }
}